<a href="https://colab.research.google.com/github/JAgrit20/DSA/blob/master/Panda_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
from google.colab import files
uploaded = files.upload()

Saving Iris.csv to Iris (1).csv

In [9]:
df = pd.read_csv("Iris (1).csv")

In [11]:
print(df)
print(df.shape)

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]
(150, 6)

In [13]:
df.size

900

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [18]:
pd.set_option('display.max_rows',85)
print(df.head(10))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [21]:
people={'first':'jagrit','last':'ach','email':'jag@me.com'}
people = {'first':['jag','ajay','ram'],'last':['abc','aab','aad'], 'email':['email1','email2','email3']}
print(people)
df=pd.DataFrame(people)
print(df)

{'first': ['jag', 'ajay', 'ram'], 'last': ['abc', 'aab', 'aad'], 'email': ['email1', 'email2', 'email3']}
  first last   email
0   jag  abc  email1
1  ajay  aab  email2
2   ram  aad  email3

In [22]:
df['email']

0    email1
1    email2
2    email3
Name: email, dtype: object

In [23]:
df[['last','email']]

  last   email
0  abc  email1
1  aab  email2
2  aad  email3

In [24]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [25]:
df.loc[[0,1],['email','last']]

    email last
0  email1  abc
1  email2  aab

In [27]:
df.set_index('first')

      last   email
first
jag    abc  email1
ajay   aab  email2
ram    aad  email3

In [28]:
df.reset_index()

   index first last   email
0      0   jag  abc  email1
1      1  ajay  aab  email2
2      2   ram  aad  email3

In [30]:
df.set_index('first',inplace=True)

In [32]:
df.loc['jag']

last        abc
email    email1
Name: jag, dtype: object

In [34]:
df.sort_index()
df.sort_index(ascending=False)

      last   email
first
ram    aad  email3
jag    abc  email1
ajay   aab  email2